.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin-bottom: 10rem;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* shared style  */
.section-title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 9rem;
    margin-bottom: 2rem;
}

.primary-color {
    color: #FF5400;
}

.primary-button {
    background-color: #FF5400;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1.4rem 2.4rem;
    color: white;
    border-radius: 0.8rem;
    border: none;
    outline: none;
}

.section-description {
    font-size: 1.6rem;
    color: rgba(19, 19, 24, 0.7);
    line-height: 3rem;
    margin-bottom: 3rem;

}

.icon {
    margin-right: 1.5rem;
}

.section-content {
    text-align: center;
    max-width: 60.43rem;
    margin: 0 auto;
}

.container {
    padding: 0 13rem;
}

.card-title {
    font-size: 2.4rem;
    font-weight: bolder;
    margin-bottom: 1.4rem;
    margin-top: 3rem;
}



/* header section start  */
/* nav section start  */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0rem;
    padding: 0 13rem;
}

.navbar .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.navbar .nav-logo .nav-title {
    font-size: 3.6rem;
    font-weight: bolder;
}

/* hamburger icon  */
.menu-icon {
    font-size: 3rem;
    color: red;
    display: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links>li {
    list-style: none;
    margin-left: 4.4rem;
}

.nav-links>li>a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #333333;
}

.nav-links>li:nth-child(1)>a {
    color: #FF5400;
    font-weight: bold;
}


/* nav section end  */
/* banner secton start  */
.banner {
    height: 50rem;
    background-image: linear-gradient(rgba(19, 19, 24, 1),
            rgba(19, 19, 24, 0)),
        url("../Images/banner.png");
    background-size: cover;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-selection {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    padding: 1.6rem;
}

.banner .banner-title {
    font-size: 6.4rem;
    font-weight: bolder;
    line-height: 9rem;
    max-width: 60.7rem;
}

.banner .banner-description {
    font-size: 1.6rem;
    line-height: 3rem;
    max-width: 60.7rem;
    margin-bottom: 4.8rem;
}

.select {
    color: rgba(19, 19, 24, 0.5);
    border: none;
    padding: 1.6rem 8.4rem 1.6rem 1rem;
    outline: none;
    border-radius: 0.8rem;
    margin-right: 2.4rem;
}

/* banner section end  */
/* Popular Tours section start  */
.tours-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.3rem;
}

.tour-list {
    margin-left: 2rem;
}

.tours-content {
    width: 50%;
}

.tours-image {
    width: 50%;
}

.tours-image .tours-img {
    width: 100%;
}

/* your destination section start  */
.collage-flex {
    display: flex;
    gap: 1rem;
}

.relative-position {
    position: relative;
}

.flex-college-item {
    width: 50%;
}

.college-img {
    width: 100%;
    display: block;
    height: 30rem;
}

.collage-title {
    position: absolute;
    font-size: 2.8rem;
    color: white;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collage-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    gap: 1rem;
}


.last-item-1 {
    flex-grow: 1;
}

.last-item-2 {
    flex-grow: 3;
}

/* why choose us section start  */
.card {
    background-color: rgba(251, 181, 99, 0.05);
    border-radius: 1.6rem;
    padding: 3.2rem 3.2rem 3.2rem 5.5rem;
}

#card-2 {
    background-color: rgba(41, 206, 246, 0.05);
}

#card-3 {
    background-color: rgba(233, 68, 68, 0.05);
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.row-2 {
    width: 49%;
    margin: 3rem auto;
}

/* Deals & Discounts section start  */
.deails-card {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 58rem;
    border-radius: 1.5rem;
    padding: 5rem 5rem 5rem 7.7rem;
}

#deals-card-1 {
    background-image: url(../Images/discount.png);
    margin-left: auto;
}

.deals-card-common {
    background-size: cover;
    padding: 5.6rem;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
}

#deals-content-1 {
    margin-left: auto;
}

#deals-card-2 {
    background-image: url(../Images/Group\ 40.png);
}

#deals-card-3 {
    margin-left: auto;
}

.details-shor-line {
    display: flex;
    gap: 3rem;
}

.deals-btn {
    display: flex;
    justify-content: center;
}

/* perfect place section start  */
.perfect-place-list {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.perfect-place-title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
    margin-bottom: 3rem;
}

/* responsive for mobile device  */
@media screen and (max-width:576px) {
    .navbar {
        justify-content: space-between;
        padding: 0 5rem;
        width: 100%;
        align-items: center;
    }

    .navbar .nav-logo .nav-title {
        font-size: 2rem;

    }

    .navbar .nav-logo {
        gap: 1rem;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        position: absolute;
        top: 15rem;
        background-color: white;
        border-radius: 3rem;
        padding: 2rem 3rem 2rem 0;
        left: 2rem;
        display: none;
    }

    .nav-links>li {
        margin-bottom: 1rem;
    }

    .nav-links>li>a {
        font-size: 2rem;
    }

    .menu-icon {
        display: block;
    }

    /* checkbox trick */

    #menu-toggle:checked+.menu-icon+.nav-links {
        display: flex;
    }


    /* responsive for banner section  */
    .container {
        padding: 0 2rem;
    }

    .banner {
        height: auto;
    }

    .banner-content {
        padding: 2rem;
    }

    .banner .banner-title {
        font-size: 4rem;
        font-weight: bolder;
        line-height: 5rem;
        max-width: 60.7rem;
        margin-top: 5rem;
    }

    .banner .banner-description {
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 60.7rem;
        margin-bottom: 4rem;
    }

    .select {
        width: 100%;
        margin-bottom: 3rem;
    }

    .details-selection>button {
        width: 100%;
    }



    /* popular tour section start  */
    .tours-container {
        padding: 0 2rem;
        flex-direction: column;
        text-align: center;
    }

    .tour-list {
        margin-left: 2rem;
    }

    .tours-tilte {
        font-size: 3.5rem;
    }

    .tours-descripton {
        font-size: 2rem;
    }

    .tours-content {
        width: 100%;
    }

    .tours-image {
        width: 100%;
    }

    .tours-image .tours-img {
        width: 100%;
    }

    /* choose your destination section start  */


    .destination-description {
        margin-top: 0;
    }

    .destination-title {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .collage-flex {
        flex-direction: column;
    }


    .flex-college-item {
        width: 100%;
    }


    .collage-2 {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .north-title {
        text-align: center;
    }

    /* why choose us section designed */
    .row-1 {
        grid-template-columns: 1fr;
    }

    .row-2 {
        width: 100%;
    }


    /* deals and discount section start  */
    .deals-title {
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 4rem;
    }

    .deails-card {
        max-width: 100%;
        padding: 2rem;
        text-align: center;
    }

    .deals-card-common {
        padding: 18rem 1.6rem 1rem 1.6rem;
        margin-bottom: 2rem;
    }

    .deals-card-desc {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .price {
        font-size: 2rem;
        margin-top: 0rem;
        line-height: 2rem;
    }


}

/* responsive for tablet device */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar {
        justify-content: space-between;
        padding: 0 5rem;
        width: 100%;
        align-items: center;
    }

    .navbar .nav-logo .nav-title {
        font-size: 4rem;
    }

    .navbar .nav-logo {
        gap: 1rem;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        position: absolute;
        top: 15rem;
        background-color: white;
        border-radius: 3rem;
        padding: 2rem 3rem 2rem 0;
        left: 4rem;
        display: none;
    }

    .nav-links>li {
        margin-bottom: 1rem;
    }

    .nav-links>li>a {
        font-size: 2rem;
    }

    .menu-icon {
        display: block;
    }

    /* checkbox trick */

    #menu-toggle:checked+.menu-icon+.nav-links {
        display: flex;
    }


    /* responsive for banner section  */
    .container {
        padding: 0 2rem;
    }

    .banner {
        height: auto;
    }

    .banner-content {
        padding: 2rem;
    }

    .banner .banner-title {
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .select {
        border-radius: 0.8rem;
        margin-right: 2.4rem;
        margin-bottom: 3rem;
    }

    .menu-icon {
        font-size: 5rem;
        color: black;
        cursor: pointer;
    }


    /* popular tour section start  */
    .tours-container {
        padding: 0 2rem;
        flex-direction: column;
    }

    .tour-list {
        margin-left: 3rem;
    }

    .tours-tilte {
        font-size: 4rem;
    }

    .tours-descripton {
        font-size: 1.5rem;
    }

    .tours-content {
        width: 90%;
    }

    .tours-image {
        width: 90%;
    }

    .tours-image .tours-img {
        width: 100%;
    }



    /* choose your destination section start  */


    .destination-description {
        margin-top: 0;
    }

    .destination-title {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .flex-college-item {
        width: 100%;
    }


    .collage-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .collage-2 .relative-position:nth-child(3) {
        left: 50%;
    }

    .north-title {
        text-align: center;
    }

    .last-item-1 {
        flex: 1
    }

    .last-item-2 {
        flex: 1;
    }

    /* why choose us section start  */
    .row-2 {
        width: 49%;
        margin: 2rem auto;
    }

    /* deals and discount section start  */
    .deails-card {
        padding: 4rem;
        text-align: center;
        margin: 0 auto;
        max-width: 45rem;
    }

    .deals-card-common {
        padding: 18rem 1.6rem 1rem 1.6rem;
        margin-bottom: 3rem;
    }

    .deals-card-desc {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .price {
        font-size: 2rem;
        margin-top: 0rem;
        line-height: 2rem;
    }

    .deals-title {
        font-size: 4rem;
        margin-bottom: 1rem;
        line-height: 4rem;
    }

}



/* responsive for laptop  */
@media screen and (min-width:992px) and (max-width:1200px) {
    .navbar {
        padding: 0 6rem;
    }

    .navbar .nav-logo .nav-title {
        font-size: 4rem;
    }

    /* responsive for banner section  */
    .container {
        padding: 0 6rem;
    }


    /* popular tour section start  */
    .tours-container {
        padding: 0 6rem;
        justify-content: center;
        align-items: center;
    }

    .tour-list {
        margin-left: 3rem;
    }

    .tours-tilte {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .tours-descripton {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 2.2rem;
    }

    .tours-content {
        width: 50%;
    }

    .tours-image {
        width: 50%;
    }

    .tours-image .tours-img {
        width: 100%;
    }

    /* destination section start  */



    .north-title {
        text-align: center;
    }

    .collage-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        gap: 1rem;
    }


    .last-item-1 {
        flex: 1;
    }

    .last-item-2 {
        flex: 2;
    }

    /* Deals & Discounts section start  */
    .deails-card {
        max-width: 50rem;
        padding: 4rem 4rem 4rem 6.7rem;
    }

    .deals-card-common {
        padding: 10rem 4rem;
    }

    /* perfect-place start  */
    .perfect-place-list {
        font-size: 1.6rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }

    .perfect-place-title {
        font-size: 4rem;
        font-weight: bold;
        line-height: 4rem;
        margin-bottom: 3rem;
    }

}